<div class="left-menu">

    <img style="margin-top: 20px; height: 50px; width: 50px;" src="assets/img/logo.png">

    <mat-list>
        <mat-list-item>
            <button mat-icon-button color="accent">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-icon-button color="accent">
                <mat-icon>search</mat-icon>
            </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-icon-button color="accent">
                <mat-icon>star_rate</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>